a {
  text-decoration: none;
  border-bottom: none;
}

/****** HEADER *******/
.header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  gap: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  align-items: center;
}

.nav-home {
  text-decoration: none;
  color: black;
}

.nav-about {
  text-decoration: none;
  color: black;
}

.navigation a.active {
  text-decoration: underline;
}

.topbar {
  display: flex;
  flex-direction: row;
  gap: 26px;
  padding: 20px;
  justify-content: space-between;
}
/****** BODY / HOMEPAGE *******/
.menu {
  gap: 22px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

/****** BODY / HOMEPAGE / BANNER *******/
.banner {
  position: relative;
  width: 100%;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.dark-background {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: absolute;
}

.light-background {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
}

.banner-image {
  top: 0;
  width: 100%;
  height: 111px;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
}

.banner-text {
  width: 209px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 24px;
  position: relative;
  padding-left: 16px;
  margin: 0px;
}
/****** BODY / HOMEPAGE / CARDS *******/
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 843px;
  gap: 26px;
}

.cards-container {
  display: flex;
  width: 100%;
  height: 255px;
  background-color: #ff6060;
  border-radius: 10px;
  text-decoration: none;
}

.cards-text {
  width: 150px;
  text-align: left;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  margin: 0px;
  margin-top: auto;
  text-decoration: none;
}
/****** FOOTER *******/
.footer-content {
  width: 100%;
  height: 209px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 10%;
}

.footer-text {
  width: 120px;
  height: 46px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 0px;
}
/****** BODY / HousingSheet *******/
.house {
  display: flex;
  height: auto;
  padding: 20px;
  padding-bottom: 0px;
  flex-direction: column;
}

.house-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #FF6060;
  font-size: 18px;
  margin: 0px;
  margin-top: 10px;
  width: 280px;
}

.house-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  color: black;
  font-size: 14px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.house-tag {
  width: 84px;
  height: 18px;
  background-color: #FF6060;
  border-radius: 5px;
  z-index: 0;
}

.tag-text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 9px;
  margin: 0px;
  width: 84px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.rating {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rating-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
}

.rating-text {
  font-family: 'Montserrat', sans-serif;
  color: #FF6060;
  font-weight: 500;
  font-size: 12px;
  width: 93px;
  height: 33px;
  margin: 0px;
  margin-top: 5px;
  margin-right: 10px;
}

.rating-circle {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 20px;
}

.rollmenu {
  width: 100%;
  height: auto;
  padding-top: 23px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rollmenu-header {
  width: 94%;
  margin: 0px;
  height: 10px;
  background-color: #FF6060;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.rollmenu-text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 13px;
  margin: 0px;
}

.rollmenu-content {
  width: 88%;
  background-color: #fbfbfb;
  margin: 0px;
  padding: 20px;
}

.rollmenu-image {
  width: 16px;
  height: 9.14px;
  display: flex;
  justify-content: end;
}

.equipments-display {
  display: flex;
  flex-direction: column;
}

.rollmenu-spacing {
  height: 20px;
}

.rollmenu-header.no-margin {
  margin-bottom: 0;
}
/****** BODY / carousel *******/
#carousel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
  height: 255px;
	position: relative;
}

.carousel-image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	object-position: center;
  border-radius: 10px;
}

#carousel .arrow {
	position: absolute;
}
#carousel .arrow-left {
	left: 10px;
}
#carousel .arrow-right {
	right: 10px;
}

.dots { 
	position: absolute;
	bottom: 20px;
	display: flex;
}

.dot {
	margin-inline: 5px;
	width: 6px;
	height: 6px;
	background-color: #ffffff00;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);;
}

.dot_selected {
	background-color: #fff;
}
/****** BODY / Error *******/
.error {
  padding: 20px;
  display: flex;
  width: 90%;
  height: 603px;
  flex-direction: column;
}

.error-title {
  font-family: 'Montserrat', sans-serif;
  color: #FF6060;
  font-weight: 700;
  font-size: 96px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.error-text {
  font-family: 'Montserrat', sans-serif;
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 50px;
}

.error-nav {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}
/****** BODY / About *******/
.about {
  padding: 20px;
  width: 90%;
  height: 310px;
}
/****** BODY / Colapse *******/
