a {
  text-decoration: none;
  border-bottom: none;
}

p {
  margin: 0px;
}
/****** HEADER *******/
.header {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  width: 145px;
  height: 46.88px;
}

.navigation {
  display: flex;
  gap: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  align-items: center;
}

.nav-home {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.navigation a.active {
  text-decoration: underline;
}

.topbar {
  display: flex;
  flex-direction: row;
  gap: 26px;
  padding: 20px;
  justify-content: space-between;
}
/****** BODY / HOMEPAGE *******/
.menu {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
/****** BODY / HOMEPAGE / BANNER *******/
.banner {
  position: relative;
  width: 100%;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 26px;
}

.dark-background {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  position: absolute;
}

.light-background {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
}

.banner-image {
  top: 0;
  width: 100%;
  height: 111px;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
}

.banner-text {
  width: 209px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 24px;
  position: relative;
  padding-left: 16px;
  margin: 0px;
}
/****** BODY / HOMEPAGE / CARDS *******/
.background-cards {
  background-color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 26px;
}

.cards-container {
  display: flex;
  width: 100%;
  height: 255px;
  background-color: #ff6060;
  border-radius: 10px;
  text-decoration: none;
}

.cards-text {
  width: 150px;
  text-align: left;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  margin: 0px;
  margin-top: auto;
  text-decoration: none;
}
/****** FOOTER *******/
.footer-content {
  width: 100%;
  height: 209px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 10%;
}

.footer-text {
  display: flex;
  width: 120px;
  height: 46px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  justify-content: center;
  padding: 15px;
  margin: 0px;
  text-align: center;
}
/****** BODY / HousingSheet *******/
.house {
  display: flex;
  height: auto;
  padding: 20px;
  padding-bottom: 0px;
  flex-direction: column;
}

.house-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ff6060;
  font-size: 18px;
  margin: 0px;
  margin-top: 10px;
  width: 280px;
}

.house-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  color: black;
  font-size: 14px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.house-tag {
  width: 84px;
  height: 18px;
  background-color: #ff6060;
  border-radius: 5px;
  z-index: 0;
}

.tag-text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 9px;
  margin: 0px;
  width: 84px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.rating {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
  margin-bottom: 23px;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98px;
  height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.star-on {
  width: 13.41px;
  height: 13px;
}

.star-off {
  width: 13.41px;
  height: 13px;
}

.rating-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
}

.rating-text {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-weight: 500;
  font-size: 12px;
  width: 93px;
  height: 33px;
  margin: 0px;
  margin-top: 5px;
  margin-right: 10px;
}

.rating-circle {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 20px;
}

.rollmenu {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rollmenu-header {
  width: 94%;
  margin: 0px;
  height: 10px;
  background-color: #ff6060;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.rollmenu-title {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 13px;
  margin: 0px;
}

.rollmenu-content {
  width: 88%;
  background-color: #fbfbfb;
  margin: 0px;
  padding: 20px;
  height: auto;
}

.rollmenu-content-parent {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 400ms, opacity 400ms ease-out;
  width: 100%;
}

.rollmenu-content-show {
  max-height: 500px;
  opacity: 1;
  width: 100%;
}

.rollmenu-image {
  width: 16px;
  height: 9.14px;
  display: flex;
  justify-content: end;
}

.equipments-display {
  display: flex;
  flex-direction: column;
}

.rollmenu-spacing {
  height: 20px;
}

.rollmenu-header.no-margin {
  margin-bottom: 0;
}
/****** BODY / carousel *******/
#carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 255px;
  position: relative;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

#carousel .arrow {
  position: absolute;
}
#carousel .arrow-left {
  left: 10px;
}
#carousel .arrow-right {
  right: 10px;
}

.arrow-right {
  width: 13px;
  height: 21px;
}

.arrow-left {
  width: 13px;
  height: 21px;
}

.dots {
  position: absolute;
  bottom: 20px;
  display: flex;
}

.dot {
  margin-inline: 5px;
  width: 6px;
  height: 6px;
  background-color: #ffffff00;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dot_selected {
  background-color: #fff;
}
/****** BODY / Error *******/
.error {
  padding: 20px;
  display: flex;
  width: 90%;
  height: 603px;
  flex-direction: column;
}

.error-title {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-weight: 700;
  font-size: 96px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.error-text {
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 50px;
}

.error-nav {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
  text-decoration: underline;
}
/****** BODY / About *******/
.about {
  padding: 20px;
  padding-bottom: 0px;
  width: 90%;
  height: auto;
}
/* Desktop devices (Desktop, less/equal than 1440px) */
@media screen and (min-width: 1440px) {
  /****** HEADER *******/
  .topbar {
    padding: 91.5px;
    height: 68px;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .logo {
    width: 210.32px;
    height: 68px;
  }

  .nav-home {
    font-size: 24px;
  }
  /****** BODY / HOMEPAGE / BANNER *******/
  .menu {
    padding: 91.5px;
    padding-top: 40px;
  }

  .banner {
    height: 223px;
    justify-content: center;
    margin-bottom: 52px;
  }

  .dark-background {
    left: 0px;
  }

  .light-background {
    left: 0px;
  }

  .banner-image {
    height: 223px;
    left: 0px;
  }

  .banner-text {
    width: 733px;
    height: 68px;
    font-size: 48px;
    padding-left: 0px;
    text-align: center;
    justify-content: center;
    display: flex;
  }
  /****** BODY / HOMEPAGE / CARDS *******/
  .background-cards {
    width: 92%;
    height: auto;
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    padding: 50px;
  }

  .cards {
    flex-direction: row;
    width: 100%;
    gap: 50px;
  }

  .cards-container {
    display: flex;
    width: 30.41%;
    height: 255px;
  }
  /****** FOOTER *******/
  .footer-text {
    width: 513px;
    font-size: 24px;
    padding: 15px;
    margin: 0px;
    gap: 30px;
    position: relative;
    top: 40px;
  }
  /****** BODY / About *******/
  .about {
    padding: 91.5px;
    width: 87.32%;
    padding-top: 40px;
    padding-bottom: 18px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /****** BODY / carousel *******/
  #carousel {
    height: 415px;
  }

  #carousel .arrow-left {
    left: 20px;
  }
  #carousel .arrow-right {
    right: 20px;
  }

  .arrow-right {
    width: 46.68px;
    height: 79px;
  }

  .arrow-left {
    width: 46.68px;
    height: 79px;
  }
  /****** BODY / HousingSheet *******/
  .house {
    padding: 91.5px;
    padding-bottom: 20px;
  }

  .rollmenu-header {
    height: 32px;
    margin-bottom: 38px;
  }

  .rollmenu-title {
    font-size: 24px;
  }

  .rollmenu-image {
    width: 24px;
    height: 13.71px;
  }

  .rollmenu-content {
    width: 100%;
    font-size: 18px;
  }

  .house-title {
    width: 100%;
    font-size: 36px;
    margin-top: 40px;
  }

  .house-text {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .house-tag {
    width: 115px;
    height: 25px;
    border-radius: 10px;
  }

  .tag-text {
    font-size: 12.5px;
    width: 115px;
    height: 25px;
  }

  .rating {
    display: flex;
    flex-direction: column-reverse;
    width: 170px;
    margin-top: 10px;
    justify-content: end;
    margin-bottom: 23px;
    gap: 20px;
  }

  .rating-content {
    margin-top: 30px;
  }

  .rating-text {
    font-size: 18px;
    height: 52px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .rating-circle {
    width: 64px;
    height: 64px;
    border-radius: 30px;
  }

  .stars {
    width: 150px;
    height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  } 

  .star-on {
    width: 24px;
    height: 24px;
  }

  .star-off {
    width: 24px;
    height: 24px;
  }

  .house-display {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .content-display {
    display: flex;
    flex-direction: column;
  }

  .colapse-display {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: normal;
    justify-content: space-between;
    gap: 50px;
  }

  .rollmenu-header {
    width: 97.5%;
  }

  .rollmenu-header.no-margin {
    width: 97.5%;
    margin-bottom: 0;
  }

  .with-display {
    width: 84.86%;
  }

  .text-display {
    width: 90%;
  }

  .rollmenu-spacing {
    height: 40px;
  }
  /****** BODY / Error *******/
  .error {
    padding: 72px;
    height: auto;
  }

  .error-title {
    font-size: 288px;
  }

  .error-text {
    font-size: 36px;
  }

  .error-nav {
    font-size: 18px;
  }
}
